In [108]:
import pandas as pd
import numpy as np
import datetime as dt

In [109]:
#1: DATA WRANGLING AND ANALYSIS

data= pd.read_csv('city_data.csv', sep='|', header=1, parse_dates=['Last Data Update'])
#I want the dates to be in a datetime64 format 

print(data.shape)
data.head()
#the dataset has 86 rows and 14 columns

(86, 14)

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17

In [110]:
#exploratory analysis
##1. How did you handle missing values and duplicate records in the dataset? 
data.info()
#I have a lot of missing values in the column 'Average Price Groceries'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     object
 1   Population Density               85 non-null     float64
 2   Population                       86 non-null     int64
 3   Working Age Population           85 non-null     float64
 4   Youth Dependency Ratio           86 non-null     float64
 5   Unemployment Rate                85 non-null     float64
 6   GDP per Capita                   85 non-null     float64
 7   Days of very strong heat stress  86 non-null     int64
 8   Main Spoken Languages            85 non-null     object
 9   Average Monthly Salary           86 non-null     int64
 10  Avgerage Rent Price              86 non-null     int64
 11  Average Cost of Living           86 non-null     int64
 12  Average Price Groceries          6 non-null      float64
 13  Last Data Update                 86 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(5), object(2)
memory usage: 9.5+ KB

In [153]:
data['City'].describe()

count                  84
unique                 84
top       Vienna, Austria
freq                    1
Name: City, dtype: object

In [154]:
data['City'].value_counts()
#Berlin, Germany and Malaga, Spain appears twice

City
Vienna, Austria           1
Milan, Italy              1
The Hague, Netherlands    1
Malta, Malta              1
Riga, Latvia              1
                         ..
Odense, Denmark           1
Copenhagen, Denmark       1
Hanover, Germany          1
Dusseldorf, Germany       1
Adana, Turkiye            1
Name: count, Length: 84, dtype: int64

In [155]:
#We have 80 missing values for Average Price Groceries, 1 for Population Density, Working Age Population, Unemployment Rate, GDP per Capita, Main Spoken Languages

In [156]:
#I want to delete duplicate info, but before I check info are the same
data.set_index('City').loc['Berlin. Germany']
data.set_index('City').loc['Malaga, Spain']

Population Density                               571.0
Population                                      869096
Working Age Population                        585608.0
Youth Dependency Ratio                            23.5
Unemployment Rate                                 17.7
GDP per Capita                                 27694.0
Days of very strong heat stress                      0
Main Spoken Languages                 Spanish, English
Average Monthly Salary                            2200
Avgerage Rent Price                               1312
Average Cost of Living                            1400
Average Price Groceries                            NaN
Last Data Update                   2023-11-27 00:00:00
city                                            Malaga
country                                          Spain
Name: Malaga, Spain, dtype: object

In [157]:
#missing values treatment: drop them 
missing_values = data.isnull().sum()
data = data.dropna(axis=1, how='all')

In [158]:
#duplicates treatment: drop duplicates
data.drop_duplicates(inplace=True)
data

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,city,country
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03,Salzburg,Austria
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22,Brussels,Belgium
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09,Antwerp,Belgium
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17,Gent,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11,Stockholm,Sweden
82,"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10,Gothenburg,Sweden
83,"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07,Malmo,Sweden
84,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08,Ankara,Turkiye
85,"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02,Adana,Turkiye

In [159]:
data['City'].describe()
#no more duplicates info

count                  84
unique                 84
top       Vienna, Austria
freq                    1
Name: City, dtype: object

In [160]:
#2. a) Which country appears most frequently in the dataset? GERMANY
data_copy=data #We can work on the copy of data 
data_copy[['city', 'country']] = data_copy['City'].str.split(',', expand=True)
countries_count = data_copy['country'].value_counts()
countries_count

#How many cities are associated with it? 9 cities are associated with Germany

country
Germany            9
Italy              6
Spain              5
Netherlands        5
United Kingdom     5
Belgium            4
Portugal           4
Sweden             3
Switzerland        3
Poland             3
Norway             3
Hungary            3
Austria            2
Ireland            2
Croatia            2
Turkiye            2
Czechia            2
Bulgaria           2
France             2
Finland            2
Denmark            2
Slovenia           1
Slovak Republic    1
Romania            1
Cyprus             1
Greece             1
Athens             1
Malta              1
Latvia             1
Luxembourg         1
 France            1
Estonia            1
Name: count, dtype: int64

In [161]:
#b) How many cities are present in total? How many are associated with Greece? 
#problem with Greece: 'Athens' is in the country column, I have to change it
#I need to expand some rows where the separator in the city column was not a ','

In [162]:
data_copy.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 0 to 85
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             84 non-null     object
 1   Population Density               83 non-null     float64
 2   Population                       84 non-null     int64
 3   Working Age Population           83 non-null     float64
 4   Youth Dependency Ratio           84 non-null     float64
 5   Unemployment Rate                83 non-null     float64
 6   GDP per Capita                   83 non-null     float64
 7   Days of very strong heat stress  84 non-null     int64
 8   Main Spoken Languages            83 non-null     object
 9   Average Monthly Salary           84 non-null     int64
 10  Avgerage Rent Price              84 non-null     int64
 11  Average Cost of Living           84 non-null     int64
 12  Average Price Groceries          6 non-null      float64
 13  Last Data Update                 84 non-null     datetime64[ns]
 14  city                             84 non-null     object
 15  country                          82 non-null     object
dtypes: datetime64[ns](1), float64(6), int64(5), object(4)
memory usage: 11.2+ KB

In [163]:
data_copy['city'].tolist()

['Vienna',
 'Salzburg',
 'Brussels',
 'Antwerp',
 'Gent',
 'Bruges',
 'Sofia',
 'Dobrich',
 'Zurich',
 'Geneva',
 'Basel',
 'Lefkosia',
 'Lemesos;Cyprus',
 'Prague',
 'Ostrava',
 'Berlin. Germany',
 'Hamburg',
 'Munich',
 'Cologne',
 'Frankfurt am Main',
 'Stuttgart',
 'Leipzig',
 'Dresden',
 'Dusseldorf',
 'Hanover',
 'Copenhagen',
 'Odense',
 'Madrid',
 'Barcelona',
 'Valencia',
 'Seville',
 'Malaga',
 'Tallinn',
 'Helsinki',
 'Tampere',
 'Paris',
 'Lyon',
 'Toulouse',
 'London',
 'Leeds',
 'Glasgow',
 'Liverpool',
 'Edinburgh',
 'Greece',
 'Thessaloniki',
 'Zagreb',
 'Split',
 'Budapest',
 'Miskolc',
 'Debrecen',
 'Dublin',
 'Cork',
 'Rome',
 'Milan',
 'Naples',
 'Turin',
 'Florence',
 'Venice',
 'Luxembourg',
 'Riga',
 'Malta',
 'The Hague',
 'Amsterdam',
 'Rotterdam',
 'Utrecht',
 'Eindhoven',
 'Oslo',
 'Bergen',
 'Stavanger',
 'Warsaw',
 'Lodz',
 'Cracow',
 'Lisbon',
 'Porto',
 'Braga',
 'Coimbra',
 'Giroc',
 'Bratislava',
 'Ljubljana',
 'Stockholm',
 'Gothenburg',
 'Malmo',
 'Ankara',
 'Adana']

In [164]:
data_copy['country'].tolist()
#I have 2 missing values

[' Austria',
 ' Austria',
 ' Belgium',
 ' Belgium',
 ' Belgium',
 ' Belgium',
 ' Bulgaria',
 ' Bulgaria',
 ' Switzerland',
 ' Switzerland',
 ' Switzerland',
 ' Cyprus',
 None,
 ' Czechia',
 ' Czechia',
 None,
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Germany',
 ' Denmark',
 ' Denmark',
 ' Spain',
 ' Spain',
 ' Spain',
 ' Spain',
 ' Spain',
 ' Estonia',
 ' Finland',
 ' Finland',
 ' France',
 '  France',
 ' France',
 ' United Kingdom',
 ' United Kingdom',
 ' United Kingdom',
 ' United Kingdom',
 ' United Kingdom',
 ' Athens',
 ' Greece',
 ' Croatia',
 ' Croatia',
 ' Hungary',
 ' Hungary',
 ' Hungary',
 ' Ireland',
 ' Ireland',
 ' Italy',
 ' Italy',
 ' Italy',
 ' Italy',
 ' Italy',
 ' Italy',
 ' Luxembourg',
 ' Latvia',
 ' Malta',
 ' Netherlands',
 ' Netherlands',
 ' Netherlands',
 ' Netherlands',
 ' Netherlands',
 ' Norway',
 ' Norway',
 ' Norway',
 ' Poland',
 ' Poland',
 ' Poland',
 ' Portugal',
 ' Portugal',
 ' Portugal',
 ' Portugal',
 ' Romania',
 ' Slovak Republic',
 ' Slovenia',
 ' Sweden',
 ' Sweden',
 ' Sweden',
 ' Turkiye',
 ' Turkiye']

In [165]:
data_copy[data_copy['country'].isnull()]
#this is because in line 12 we have a ';' as a separator, and in the line 15 we have a '.'

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,city,country
12,Lemesos;Cyprus,190.0,262238,173906.0,23.06,11.2,NaN,0,"Greek, English, Russian",2500,1400,2300,NaN,2023-08-14,Lemesos;Cyprus,None
15,Berlin. Germany,304.0,5303922,3481212.0,21.30,4.7,46548.0,3,"German, Turkish, Arabic, English",3200,1220,2200,NaN,2023-06-29,Berlin. Germany,None

In [166]:
line_12=data_copy.iloc[12]
line_15=data_copy.iloc[15]
data_copy[['city', 'country']].iloc[12] = line_12.str.split(';', expand=True)
data_copy[['city', 'country']].iloc[15] = line_15.str.split('.', expand=True)
data_copy = data_copy.rename(columns={'City': 'city&country'})
data_copy

/var/folders/dc/jfb4p3vj5q9dcq1f9lcgzl5c0000gn/T/ipykernel_16510/1708635052.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_copy[['city', 'country']].iloc[12] = line_12.str.split(';', expand=True)
/var/folders/dc/jfb4p3vj5q9dcq1f9lcgzl5c0000gn/T/ipykernel_16510/1708635052.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_copy[['city', 'country']].iloc[15] = line_15.str.split('.', expand=True)

,city&country,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,city,country
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03,Salzburg,Austria
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22,Brussels,Belgium
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09,Antwerp,Belgium
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17,Gent,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11,Stockholm,Sweden
82,"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10,Gothenburg,Sweden
83,"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07,Malmo,Sweden
84,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08,Ankara,Turkiye
85,"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02,Adana,Turkiye

In [167]:
#how many cities are present in total? 84 cities
cities_sum = data_copy['city'].value_counts().sum()
print(cities_sum)
#how many are associated with Greece? 2: Athens and Zagreb
cities_count=data_copy['country'].value_counts()
print(cities_count)

84
country
Germany            9
Italy              6
Spain              5
Netherlands        5
United Kingdom     5
Belgium            4
Portugal           4
Sweden             3
Switzerland        3
Poland             3
Norway             3
Hungary            3
Austria            2
Ireland            2
Croatia            2
Turkiye            2
Czechia            2
Bulgaria           2
France             2
Finland            2
Denmark            2
Slovenia           1
Slovak Republic    1
Romania            1
Cyprus             1
Greece             1
Athens             1
Malta              1
Latvia             1
Luxembourg         1
 France            1
Estonia            1
Name: count, dtype: int64

In [168]:
data_copy

,city&country,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,city,country
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03,Salzburg,Austria
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22,Brussels,Belgium
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09,Antwerp,Belgium
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17,Gent,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11,Stockholm,Sweden
82,"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10,Gothenburg,Sweden
83,"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07,Malmo,Sweden
84,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08,Ankara,Turkiye
85,"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02,Adana,Turkiye

In [169]:
columns=data_copy.columns.to_list()
data_copy = data_copy[columns[-2:] + columns[:-2]]
data_copy
#I want to change Athens: it is a city, not a country

,city,country,city&country,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,Vienna,Austria,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15
1,Salzburg,Austria,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03
2,Brussels,Belgium,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22
3,Antwerp,Belgium,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09
4,Gent,Belgium,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Stockholm,Sweden,"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11
82,Gothenburg,Sweden,"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10
83,Malmo,Sweden,"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07
84,Ankara,Turkiye,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08
85,Adana,Turkiye,"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02

In [170]:
data_copy[data_copy['country']==' Athens']
#row index 43
temp=data_copy.iloc[43,0]
data_copy.iloc[43,0]=data_copy.iloc[43,1]
data_copy.iloc[43,1]=temp
data_copy.iloc[43,:]

city                                            Athens
country                                         Greece
city&country                            Greece, Athens
Population Density                              1829.0
Population                                     3530371
Working Age Population                       2287174.0
Youth Dependency Ratio                            22.0
Unemployment Rate                                 17.2
GDP per Capita                                 38580.0
Days of very strong heat stress                     17
Main Spoken Languages                   Greek, English
Average Monthly Salary                            1050
Avgerage Rent Price                                600
Average Cost of Living                            1200
Average Price Groceries                            NaN
Last Data Update                   2024-07-16 00:00:00
Name: 45, dtype: object

In [171]:
data_copy.set_index('country', inplace=True)

In [173]:
data_copy.index
#now Greece is in the 'country' column and Athens in the 'city' one

Index([        ' Austria',         ' Austria',         ' Belgium',
               ' Belgium',         ' Belgium',         ' Belgium',
              ' Bulgaria',        ' Bulgaria',     ' Switzerland',
           ' Switzerland',     ' Switzerland',          ' Cyprus',
                     None,         ' Czechia',         ' Czechia',
                     None,         ' Germany',         ' Germany',
               ' Germany',         ' Germany',         ' Germany',
               ' Germany',         ' Germany',         ' Germany',
               ' Germany',         ' Denmark',         ' Denmark',
                 ' Spain',           ' Spain',           ' Spain',
                 ' Spain',           ' Spain',         ' Estonia',
               ' Finland',         ' Finland',          ' France',
               '  France',          ' France',  ' United Kingdom',
        ' United Kingdom',  ' United Kingdom',  ' United Kingdom',
        ' United Kingdom',           'Greece',          ' Greece',
               ' Croatia',         ' Croatia',         ' Hungary',
               ' Hungary',         ' Hungary',         ' Ireland',
               ' Ireland',           ' Italy',           ' Italy',
                 ' Italy',           ' Italy',           ' Italy',
                 ' Italy',      ' Luxembourg',          ' Latvia',
                 ' Malta',     ' Netherlands',     ' Netherlands',
           ' Netherlands',     ' Netherlands',     ' Netherlands',
                ' Norway',          ' Norway',          ' Norway',
                ' Poland',          ' Poland',          ' Poland',
              ' Portugal',        ' Portugal',        ' Portugal',
              ' Portugal',         ' Romania', ' Slovak Republic',
              ' Slovenia',          ' Sweden',          ' Sweden',
                ' Sweden',         ' Turkiye',         ' Turkiye'],
      dtype='object', name='country')

In [215]:
#c) Which is the least spoken language in the dataset? Which are the top 3 most spoken languages? 
languages_count=data_copy['Main Spoken Languages'].str.split(', ').explode().value_counts()
languages_count
#I create a list with all the main spoken languages togheter and then I can count them 

#The top 3 most spoken languages are English (46), German (14) and Turkish/France (10)
#The least spoken languages are Sloven, Maltese, Latvian, Luxembourgish, Slovak, Romanian, Scots Gaelic, Scots, Bengali, Estonian, Valencian, Catalan and Serbian

Main Spoken Languages
English              46
German               14
Turkish              10
French               10
Dutch                 9
Italian               6
Swedish               4
Polish                4
Spanish               4
Portuguese            4
Greek                 4
Hungarian             3
Arabic                3
Russian               3
Norwegian             3
Croatian              2
Urdu                  2
Irish Gaelic          2
Finnish               2
Danish                2
Czech                 2
Bulgarian             2
Maltese               1
Latvian               1
Luxembourgish         1
Slovak                1
Romanian              1
  Arabic              1
Scots Gaelic          1
Scots                 1
Bengali               1
Estonian              1
Spanish;Valencian     1
Catalan               1
Serbian               1
Slovene               1
Name: count, dtype: int64

In [221]:
#3. a) Entries uploaded before April 2023 need to be updated. Which cities would require an update? 
begin_April_23=pd.to_datetime('2023-04-1')
filter=data_copy[data_copy['Last Data Update']< begin_April_23]
filter['city']
#Basel, Munich, Frankfurt am Main, Lyon, Venice and Gothenburg need an update

country
Switzerland                Basel
Germany                   Munich
Germany        Frankfurt am Main
 France                     Lyon
Italy                     Venice
Sweden                Gothenburg
Name: city, dtype: object

In [226]:
#b) How many days ago was the last update? On what day, month, and year did it occur? 
date_today= pd.Timestamp('today').normalize()
last_update=max(data_copy['Last Data Update'])
days= date_today-last_update
print(days)
#The last update was 341 days ago 
print(last_update)
#The last update was on 2024-12-12

341 days 00:00:00
2024-12-12 00:00:00

In [ ]:
#4. a) How are the Unemployment Rate and GDP per Capita distributed and related? What does this relationship suggest? 
# Provide a visual representation. TO DO

In [ ]:
#b) Which are the top 5 cities with the largest difference between the Average Monthly Salary and Average Cost of Living? 
# What about the top 5 countries with the smallest average difference? Show these results with meaningful visualizations. TO DO

In [ ]:
#c) Which is the best city for someone seeking:
#an average monthly salary above â‚¬2000,
#a cost of living below or equal to â‚¬1600, and
#a country suitable for starting a family (with a relatively larger youth population)? TO DO

In [ ]:
#5. What are three additional insights you find meaningful when comparing the given cities? TO DO

In [ ]:
#2 INTRERACTIVE MAP